body {
    margin: 0px;
}

.main {
    /* width: 500px; */
    margin: 0 auto;
    text-align: center;
}

li {
    width: 100%;
    height: 500px;
    list-style: none;
}

ul.animation {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    /* display: flex; */
    position: absolute;
}

.noShow {
    display: none;
}

.carousel {
    display: block;
    width: 100%;
    height: 500px;
    border: 2px solid #000000;
    color: #FCFF33;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

ul span {
    width: 100%;
    height: 500px;
    display: inline-block;
}
/* .main .nav {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
} */

.nav div {
    display: inline-block;
}

.nav {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
} 

.nav .prev {
    margin: 5px 5px 5px 20px;
    padding: 5px;
    background-color: #ffffff;
    border: 1.4px solid #000000;
    border-radius: 5px 5px;
}

.nav .next {
    margin: 5px 5px 5px 20px;
    padding: 5px;
    background-color: #ffffff;
    border: 1.4px solid #000000;
    border-radius: 5px 5px;
}