.main {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

li {
    width: 300px;
    height: 300px;
    list-style: none;
}

ul.moveLeft {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-left: 300px !important;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
}

.noShow {
    display: none;
}

.carousel {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid #000000;
    color: #FCFF33;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.nav {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: auto;
}

.nav .prev {
    margin: 5px 5px 5px 20px;
    padding: 5px;
    background-color: #ffffff;
    border: 1.4px solid #000000;
    border-radius: 5px 5px;
}

.nav .next {
    margin: 5px 5px 5px 20px;
    padding: 5px;
    background-color: #ffffff;
    border: 1.4px solid #000000;
    border-radius: 5px 5px;
}